<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:src="@{/js/weather.js}"></script>

    <form class="form-horizontal">
        <div class="form-group">
            <select id="step1" class="emptyCheck" title="시/도">
                <option id="city" value="">시/도</option>
            </select>

            <select id="step2">
                <option id="county" value="">시/군/구</option>
            </select>

            <select id="step3">
                <option id="town" value="">읍/면/동</option>
            </select>

            <span>날짜 선택: <input type="text" id="datepicker" disabled="disabled" class="emptyCheck" title="날짜"></span>

            <select id="time" class="emptyCheck" title="시간">
                <option value="" selected>시간</option>
                <option th:each="i : ${#numbers.sequence(0,23)}" th:value="${i}" th:text="${i} + 시"></option>
            </select>

            <button type="button" class="btn btn-primary waves-effect waves-light" th:onclick="getWeather()">
                <span>실행</span>
            </button>

            <div>
                <table id="resultWeather" class="table"></table>
            </div>
        </div>
    </form>
</body>
</html>